@if(isNotFound()){
  <app-not-found textMessage="Sorry, estate not found!"></app-not-found>
}
@else {
  <div class="bg-slate-500 p-10 mb-24">

    <div class="sm:max-w-4xl w-full my-3 mt-24 mx-auto pt-5 px-5 bg-white shadow-lg rounded-lg ">
      <div class="relative w-auto h-96 mx-auto overflow-hidden rounded-lg bg-gray-200">
        <app-image-slider [photos]="photos" [sliderConfig]="sliderConfig"></app-image-slider>
      </div> 
      <div class="p-6">   
        <app-estate-view-description [estateDescribe]="estate.estateDescribe"></app-estate-view-description>
      </div>
    </div>
  
    <div class="max-w-4xl mx-auto my-4 bg-white shadow-lg rounded-lg overflow-hidden">
      <app-estate-view-features [estateFeatures]="estate.estateFeatures" [estateDescribe]="estate.estateDescribe"></app-estate-view-features>
    </div> 
          
    <div class="max-w-4xl mx-auto my-4 bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="p-6">
        <ng-container *ngIf="isEstateRent(estate)">
          <app-rent-estate-view [estate]="estate"></app-rent-estate-view>
        </ng-container>
        <ng-container *ngIf="isEstateSell(estate)">
          <app-sell-estate-view [estate]="estate"></app-sell-estate-view>
        </ng-container>
      </div>
    </div>
  
    <div class="max-w-4xl mx-auto my-4 bg-white shadow-lg rounded-lg h-full ">
      <app-estate-view-map [address]="estate.address" [estateLocationFeatures]="estate.estateLocationFeatures"></app-estate-view-map>
    </div>
  </div>
}

