<!DOCTYPE html>
<div class="bg-white text-black rounded-lg shadow-lg p-6">
  <h2 class="text-2xl font-bold mb-4">Your Recent Listings</h2>
  <div *ngIf="recentListings.length > 0; else noListings" class="h-32 overflow-y-auto">
    <div *ngFor="let listing of recentListings"  class="mb-4">
      <div class="flex justify-between items-center  " >
        <h3 class="text-xl font-bold cursor-pointer hover:underline" (click)="goToEstateDetail(listing.id)">{{ listing.title }}</h3>
        <span class="bg-gray-200 text-gray-700 rounded px-2 py-1 text-sm">{{ listing.uploadingDate | date: 'dd MMMM yyyy' }}</span>
      </div>
      <p>{{ truncate(listing.description, 20) }}</p>
      <hr class="bg-slate-200 py-0.5">
    </div>
  </div>
  <ng-template #noListings>
    <p>No recent listings found.</p>
  </ng-template>
</div>