<!DOCTYPE html>
<div class="      ">
  <div class="mt-6 grid grid-cols-1 px-6 pb-3 gap-4">
    <button 
      type="submit" 
      (click)="onSearch()" 
      class=" px-6 py-3 bg-primary hover:bg-blue-950 text-white font-semibold rounded-xl shadow-lg transition transform hover:scale-105"
    >Search
    </button>
  </div>
  <h2 class="text-2xl font-semibold mb-4">Enter filters</h2>
  
  <form [formGroup]="searchForm" class="" >
    <div class="grid grid-cols-1 gap-4">
      <!-- Tipologia di inserzione -->
      <app-form-field 
        label="Type Assertion" 
        type="select" 
        controlName="type" 
        [options]="['For Sale', 'For Rent']" 
        [form]="searchForm"
        >
        
      </app-form-field>

      <div class="">
        <label for="radius" class="block text-sm font-medium  ">Radius: <span class="font-bold">{{searchForm.controls["radius"].value}}</span> </label>
        
        <input 
        type="range" 
        id="radius" 
        name="radius" 
        min="100" 
        max="9999" 
        [value]="searchForm.controls['radius'].value" 
        (input)="onRadiusChange($event)" 
        class="w-full mt-2 custom-range ">
      </div>
      <!-- Posizione -->
      <app-autocomplete-input
        #localityInput
        elementId="locality"
        type="locality"
        label="Enter locality">
      </app-autocomplete-input>

      <!-- Prezzo minimo -->
      <app-form-field 
        label="Min Price"
        [maxNumber]="searchForm.get('maxPrice')?.value" 
        type="number" 
        controlName="minPrice" 
        [form]="searchForm"
       >
      </app-form-field>

      <!-- Prezzo massimo -->
      <app-form-field 
        label="Max Price" 
        type="number"
        [minNumber]="searchForm.get('minPrice')?.value" 
        controlName="maxPrice" 
        [form]="searchForm"
        >
      </app-form-field>

      <!-- Numero di stanze -->
      <app-form-field 
        label="Number Rooms" 
        type="number" 
        controlName="rooms" 
        [form]="searchForm"
        [icon]="'meeting_room'">
      </app-form-field>

      <!-- Classe energetica -->
      <app-form-field 
        label="Energy Class" 
        type="select" 
        controlName="energyClass" 
        [options]="['Anything', 'A', 'B', 'C', 'D', 'E', 'F', 'G']" 
        [form]="searchForm"
        [icon]="'energy_savings_leaf'">
      </app-form-field>

      

      <!-- Servizi -->
      <div class="col-span-1">
        <h3 class="text-lg font-medium text-gray-700">Services</h3>
        <div class="grid xl:grid-cols-2 grid-cols-1 gap-4">
          <app-checkbox 
            *ngFor="let feature of estateFeatures" 
            [label]="feature.label" 
            [icon]="feature.icon"
            [controlName]="feature.controlName" 
            [form]="searchForm">
          </app-checkbox>
        </div>
      </div>

      <!-- Caratteristiche della posizione -->
      <div class="col-span-1">
        <h3 class="text-lg font-medium text-gray-700">Position Features</h3>
        <div class="grid xl:grid-cols-2 grid-cols-1 gap-4">
          <app-checkbox 
            *ngFor="let locationFeature of estateLocationFeatures" 
            [label]="locationFeature.label"
            [icon]="locationFeature.icon" 
            [controlName]="locationFeature.controlName" 
            [form]="searchForm">
          </app-checkbox>
        </div>
      </div>
    </div>

    <div class="mt-6 grid grid-cols-1 px-6">
      <button 
        (click)="onReset()" 
        type="button" 
        class=" px-6 py-3 bg-gray-600 hover:bg-gray-700 text-white font-semibold rounded-xl shadow-lg transition transform hover:scale-105"
        >Reset
      </button>
    </div>
  </form>
</div>