<!DOCTYPE html>
<div class="relative h-full bg-cover bg-center flex items-center justify-center" style="background-image: url('../../../assets/images/agent-home.jpg');">
  <!-- Overlay scuro per migliorare la leggibilità -->
  <div class="absolute inset-0 bg-black bg-opacity-60"></div>
  
  <!-- Contenitore principale -->
  <div class="relative z-10 text-center text-white px-6 sm:px-12">
    <h1 class="text-5xl font-extrabold mb-32 drop-shadow-lg">Welcome, Administrator</h1>
    
    <div class="space-y-6 flex flex-col justify-center items-center">
      <app-button-custom
        text="Change Password"
        color="bg-blue-600"
        [width]="240"
        routerLink="/admin/change-password"
      ></app-button-custom>
      
      <app-button-custom
        text="Create Agent"
        color="bg-green-600"
        [width]="240"
        routerLink="/admin/create-agent"
      ></app-button-custom>
      @if(roleLevel=="ROLE_ADMIN"){
        <app-button-custom
          text="Create Admin Manager"
          color="bg-red-600"
          [width]="240"
          routerLink="/admin/create-collaborator"
        ></app-button-custom>
      }
    </div>
  </div>
</div>
