<!DOCTYPE html>
<div class="p-4 flex justify-center items-center  ">
  <div class="max-w-xl w-full bg-slate-50 p-8 rounded-2xl shadow-xl">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-800 space" >Address Information</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <app-autocomplete-input 
          #streetInput 
          elementId="street" 
          type="street" 
          label="Street">
      </app-autocomplete-input>
      
      <div class="mb-6 relative">
      <label for="housenumber" class="block text-sm font-medium text-gray-700">House Number:</label>
        <div class="relative  w-full mt-1 rounded-md">
          <input #houseNumberInput placeholder="Enter house number" class="geoapify-autocomplete-input w-full p-4 border border-gray-400 rounded-sm" name="housenumber" id="housenumber">
          <!--<div class="geoapify-close-button visible">
            <svg viewBox="0 0 24 24" height="24">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="currentColor"></path>
            </svg>
          </div>-->
        </div>
      </div>
      <app-autocomplete-input 
          #cityInput 
          elementId="city" 
          type="city" 
          label="City">
      </app-autocomplete-input>

      <app-autocomplete-input 
          #postCodeInput 
          elementId="postcode" t
          type="postcode" 
          label="Zip Code">
      </app-autocomplete-input>

      <app-autocomplete-input 
          #countryInput 
          elementId="country" 
          type="country" 
          label="Country">
      </app-autocomplete-input>

      <app-autocomplete-input 
          #stateInput 
          elementId="state" 
          type="state" 
          label="State">
      </app-autocomplete-input>
    </div>

    <div id="message" class="p-4 rounded-md mb-6 text-gray-700"></div>
    
    <div class="text-right">
      <button 
          class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none" 
          (click)="checkAddress()">
          Check Address
      </button>
    </div>
  </div>
</div>