<!DOCTYPE html>
<div class="relative h-full bg-cover bg-center" style="background-image: url('assets/images/customer-home.jpg');">   
  <div class="absolute inset-0 bg-black opacity-40"></div>   
  <div class="relative  flex flex-col items-center justify-center h-full text-white p-6">
    <h1 class="text-5xl font-extrabold mb-10 drop-shadow-lg">Welcome, Customer</h1> 
    
    <div class="bg-white p-10 rounded-3xl shadow-2xl w-full max-w-3xl">
      <div class="w-full flex flex-col lg:flex-row items-center justify-between space-y-6 lg:space-y-0 lg:space-x-6">
        <app-form-field 
          [form]="formSelectType"
          controlName="estateType"
          label="Select Estate Type"
          type="select"
          class="w-full"
          [options]="['For Rent', 'For Sale']">
        </app-form-field>
        
        <app-autocomplete-input 
          #localiInput 
          elementId="locality" 
          type="city" 
          label="Search Locality" 
          class="text-black w-full" 
          (select)="onLocationSelected($event)">
        </app-autocomplete-input>
      </div>
      
      <div class="flex flex-col sm:flex-row justify-center sm:justify-between mt-6 space-y-4 sm:space-y-0 sm:space-x-4">
        <button (click)="openMap()" class="w-full sm:w-auto text-lg text-white bg-blue-600 px-6 py-3 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-blue-700">
          Select Location on Map
        </button>
        
        <button (click)="submit()" class="w-full sm:w-auto text-lg text-white bg-green-600 px-6 py-3 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-green-700">
          Search
        </button>
      </div>
    </div>
  </div>
</div>
