<!DOCTYPE html>
<div class="relative h-full bg-cover bg-back flex items-center justify-center">
  <!-- Overlay scuro per migliorare la leggibilità -->
  
  <!-- Contenitore principale -->
  <div class="relative z-10 text-center text-white px-6 sm:px-12">
    <h1 class="text-5xl font-extrabold text-text mb-32 drop-shadow-lg">Welcome, Administrator</h1>
    
    <div class="space-y-6 flex flex-col justify-center items-center">
      <app-button-custom
        text="Change Password"
        [width]="240"
        
        routerLink="/admin/change-password"
      ></app-button-custom>
      
      <app-button-custom
        text="Create Agent"
        [width]="240"
        routerLink="/admin/create-agent"
      ></app-button-custom>
      @if(roleLevel=="ROLE_ADMIN"){
        <app-button-custom
          text="Create Admin Collaborator"
          color="bg-secondary"
          [width]="240"
          routerLink="/admin/create-collaborator"
        ></app-button-custom>
      }
    </div>
  </div>
</div>
