<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <form (ngSubmit)="onChangePassword()" [formGroup]="passwordForm" class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
      <h2 class="text-2xl font-bold mb-6 text-center">Change Password</h2>
      <fieldset class="mb-4">
        <label for="oldPassword" class="block text-sm font-medium text-gray-700">Old Password</label>
        <input type="password" id="oldPassword" formControlName="oldPassword" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
      </fieldset>
      <fieldset class="mb-4">
        <label for="newPassword" class="block text-sm font-medium text-gray-700">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
      </fieldset>
      <fieldset class="mb-6">
        <label for="confirmNewPassword" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
        <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
        <div *ngIf="!isMatch()" class="text-red-500 text-sm mt-2">
            Passwords do not match
        </div>
        <div *ngIf="isMatch()" class="text-green-500 text-sm mt-2">
            Passwords match
        </div>
      </fieldset>
      <fieldset>
        <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Change Password</button>
      </fieldset>
    </form>
  </div>
