<!DOCTYPE html>
<div class="relative w-full mb-4 " [formGroup]="form">
    <label [for]="controlName" class="block text-sm font-medium text-gray-700">{{ label }}</label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      class="w-full p-2 border border-gray-300 rounded-md"
      placeholder="Enter {{label.toLowerCase()}}"
      formControlName="{{controlName}}"
      [id]="controlName"
    />
    <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-10 right-0 pr-3 flex items-center text-sm leading-5">
        <img *ngIf="!showPassword" src="../../../assets/images/iconPwd.png" class="w-5 h-5" alt="Show Password">
        <img *ngIf="showPassword" src="../../../assets/images/iconPwd.png" class="w-5 h-5 opacity-50" alt="Hide Password">
    </button>
</div>
  
