<!DOCTYPE html>
<div class="relative h-full bg-cover bg-center" style="background-image: url('../../../assets/images/agent-home.jpg');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10 flex flex-col items-center justify-center h-full text-white p-4">
    <h1 class="text-4xl font-bold mb-8">Welcome, Administrator</h1>
    <button routerLink="/admin/change-password" class="mt-4 text-white bg-blue-500 p-3 rounded-lg shadow-md hover:underline">Change Password</button>
    <button routerLink="/admin/create-agent" class="mt-4 text-white bg-green-500 p-3 rounded-lg shadow-md hover:underline">Create Agent</button>
    <button routerLink="/admin/create-collaborator" class="mt-4 text-white bg-red-500 p-3 rounded-lg shadow-md hover:underline">Create Admin Manager</button>
  </div>
</div>