.custom-popup {
    max-width: 80vw; /* Imposta la larghezza massima del popup */
    min-width: 300px; /* Imposta la larghezza minima del popup */
    max-height: 80vh; /* Imposta l'altezza massima del popup */
    overflow-y: auto; /* Aggiungi lo scorrimento verticale se necessario */
  }