
@media (max-width: 430px) {
    .custom-hide {
      display: none;
    }
}

.truncate {
  display: inline-block;
  max-width: 150px; /* Imposta una larghezza massima adeguata */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; /* Indica che l'elemento è interattivo */
}
