<!DOCTYPE html>
<div class="p-4 flex justify-center items-center  ">
  <div class="max-w-xl w-full bg-slate-50 p-8 rounded-2xl border-4 border-secondary">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-800 space" >Address Information</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <app-autocomplete-input 
          #streetInput 
          elementId="street" 
          type="street" 
          label="Street">
      </app-autocomplete-input>
      
      <div class="mb-6 relative">
      <label for="housenumber" class="block text-sm font-medium text-gray-700">House Number:</label>
        <div class="relative  w-full mt-1 rounded-md">
          <input #houseNumberInput placeholder="Enter house number" class="geoapify-autocomplete-input w-full p-4 border border-gray-400 rounded-sm" name="housenumber" id="housenumber">
        </div>
      </div>
      <app-autocomplete-input 
          #cityInput 
          elementId="city" 
          type="city" 
          label="City">
      </app-autocomplete-input>

      <app-autocomplete-input 
          #postCodeInput 
          elementId="postcode" t
          type="postcode" 
          label="Zip Code">
      </app-autocomplete-input>

      <app-autocomplete-input 
          #countryInput 
          elementId="country" 
          type="country" 
          label="Country">
      </app-autocomplete-input>

      <app-autocomplete-input 
          #stateInput 
          elementId="state" 
          type="state" 
          label="State">
      </app-autocomplete-input>
    </div>

    <div id="message" class="p-4 rounded-md mb-6 text-gray-700"></div>
    
    <div class="text-right">
     
      <app-button-custom
        text="Check Address"
        (clickEvent)="checkAddress()"
        [width]=160
      ></app-button-custom>
    </div>
  </div>
</div>