@if(isNotFound()){
  <app-not-found textMessage="Sorry, estate not found!"></app-not-found>
}
@else {
  <div class="bg-back p-10 mb-24">

    <div class="sm:max-w-4xl w-full my-3 mt-24 mx-auto pt-5 px-5 border-4 border-secondary bg-white rounded-lg ">
      <div class="relative w-full h-auto overflow-visible rounded-lg ">
        <app-image-slider [photos]="photos" ></app-image-slider>
      </div>
      
      <div class="p-6">   
        <app-estate-view-description [estateDescribe]="estate.realEstateMainFeaturesDTO"></app-estate-view-description>
      </div>
    </div>
  
    <div class="max-w-4xl mx-auto my-4 bg-white shadow-lg border-4 border-secondary rounded-lg overflow-hidden">
      <app-estate-view-features [estateFeatures]="estate.realEstateBooleanFeaturesDTO" [estateDescribe]="estate.realEstateMainFeaturesDTO"></app-estate-view-features>
    </div> 
          
    <div class="max-w-4xl mx-auto my-4 bg-white shadow-lg  border-4 border-secondary rounded-lg overflow-hidden">
      <div class="p-6">
        <ng-container *ngIf="isEstateRent(estate)">
          <app-rent-estate-view [estate]="estate"></app-rent-estate-view>
        </ng-container>
        <ng-container *ngIf="isEstateSell(estate)">
          <app-sell-estate-view [estate]="estate"></app-sell-estate-view>
        </ng-container>
      </div>
    </div>
  
    <div class="max-w-4xl mx-auto my-4 bg-white shadow-lg border-4 border-secondary rounded-lg h-full ">
      <app-estate-view-map [address]="estate.addressDTO" [estateLocationFeatures]="estate.realEstateLocationFeaturesDTO"></app-estate-view-map>
    </div>
  </div>
}

