<!DOCTYPE html>
<div class="relative h-max md:py-36 bg-cover bg-back  items-center justify-center">

  <div class="relative z-10 flex  flex-col items-center justify-center  align-middle  h-full text-text p-4">
    <form [formGroup]="loginForm"  class="w-full max-w-md bg-white border-4 border-secondary  rounded-lg shadow-md p-8">
    <h2 class="text-2xl font-bold  text-center">Login</h2>
      <app-form-field
        label="Select User Type"
        [form]="loginForm"
        controlName="userType"
        type="select"
        [options]="['Customer', 'Admin', 'Agent']">
      </app-form-field>
      <hr class="my-4 border-gray-300 w-full">
      <label *ngIf="loginForm.value.userType === 'Customer'"  for="email" class="block text-sm font-medium text-text ">Insert E-mail</label>
      <label *ngIf="loginForm.value.userType !== 'Customer'" for="username" class="block text-sm font-medium text-text">Insert Username</label>
      <app-form-field
        type="email"
        label=""
        [form]="loginForm"
        controlName="username">
      </app-form-field>
      <app-password-field
        label="Password"
        controlName="password"
        [form]="loginForm">
      </app-password-field>
      <app-button-custom
        text="Login"
        (clickEvent)="signIn()"
        
      ></app-button-custom>
    <fieldset *ngIf="loginForm.value.userType === 'Customer'" >
      <app-login-with-google class="w-full py-2 mt-4 px-4 focus:outline-none focus:ring-2 focus:ring-offset-2 flex justify-center"></app-login-with-google>
    </fieldset>
    <fieldset *ngIf="loginForm.value.userType === 'Customer'" >
    </fieldset>    <div *ngIf="loginForm.value.userType === 'Customer'" class="text-center mt-4 hover:cursor-pointer">
      <a routerLink="/register" class="text-primary hover:text-indigo-900">Want to register? Click here!</a>
    </div>
  </form>
</div>
</div>