<div  class="max-w-screen-sm my-3 mt-24 border-4 border-secondary h-max mx-auto pt-5 px-5 bg-white shadow-lg rounded-lg ">
  <div class="relative w-full h-auto overflow-visible rounded-lg">
    <app-image-slider [photos]="photos" [sliderConfig]="sliderConfig"></app-image-slider>
  </div>
  
  <div class="p-2">
    <div class="p-6">
      <h2 (click)="showEstateDetail()" class="cursor-pointer hover:underline text-2xl text-text font-bold mb-4">{{ estatePreview.title }}</h2>
      <p #description class="text-text mb-3 whitespace-pre-line" [ngClass]="{ 'line-clamp-3': true }">
        {{ estatePreview.description }}
      </p>
      <p class="text-text text-2xl mb-3 whitespace-pre-line flex justify-end">{{ estatePreview.price | currency:'EUR':'symbol':'1.0-0' }}</p>
    </div>
  </div>
</div>