<!DOCTYPE html>
<div class="flex  justify-end m-10">
  <div class="relative inline-block text-left">
    <app-button-custom
    text="Export Stats"
    (clickEvent)="toggleDropdown()"
    [width]=225
    ></app-button-custom>
    
    <div *ngIf="dropdownOpen" class="origin-top-right  right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
      <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <a (click)="exportCSV()" class="block px-4 py-2 text-sm text-text hover:bg-gray-100 hover:cursor-pointer hover:text-gray-900" role="menuitem">Export as CSV</a>
        <a (click)="exportPDF()" class="block px-4 py-2 text-sm text-text hover:bg-gray-100 hover:cursor-pointer hover:text-gray-900" role="menuitem">Export as PDF</a>
      </div>
    </div>
  </div>
</div>


<app-general-stats [generalStats]="generalStats"></app-general-stats>
  <div class="flex justify-center items-center mt-4 lg:mt-0 p-4">
    <div class=" flex lg:gap-52 gap-4 overflow-x-auto whitespace-nowrap custom-scrollbar">
      <div class=" bg-white border-4  border-secondary p-6 rounded-xl shadow-md">
        <app-ag-charts [chartOptions]="pieChartOptions"></app-ag-charts>
      </div>
      <div class=" bg-white border-4 border-secondary p-7 rounded-xl shadow-md">
        <app-ag-charts [chartOptions]="pieChartOptions2"></app-ag-charts>
      </div>
    </div>
</div>
<div class="flex flex-wrap lg:flex-nowrap gap-4 justify-center p-6">
  <div id="montlySalesChart" class="w-[480px] md:w-[1120px] bg-white border-4 border-secondary p-6 rounded-xl shadow-md">
    <app-ag-charts [chartOptions]="monthlySalesChartOptions"></app-ag-charts>
  </div>
</div>
<app-estate-stats></app-estate-stats>

  
