<!DOCTYPE html>
<div  class="flex flex-col items-center justify-center w-full p-4">
  <h2 class="text-sm text-text font-medium mb-4">{{ label }}</h2>
  <div [formGroup]="form" class="flex space-x-4">
    <button 
      class="px-4 py-2 border rounded-md transition-colors"
      [class.bg-gray-500]="value" 
      [class.text-white]="value"
      [class.bg-white]="!value" 
      [class.text-gray-700]="!value"
      (click)="setValue(true)">
      Yes
    </button>
    <button 
      class="px-4 py-2 border rounded-md transition-colors"
      [class.bg-gray-500]="!value" 
      [class.text-white]="!value"
      [class.bg-white]="value" 
      [class.text-gray-700]="value"
      (click)="setValue(false)">
      No
    </button>
  </div>
</div>