<!DOCTYPE html>
<div class="flex items-center justify-center h-max md:py-36 py-20 bg-gray-100 ">
  <form  [formGroup]="passwordForm" class="w-full border-4 border-secondary max-w-md bg-white rounded-lg shadow-md p-8">
    <h2 class="text-2xl font-bold mb-6 text-center">Change Password</h2>

    <app-password-field
      label="Old Password"
      controlName="oldPassword"
      [form]="passwordForm"
      >
    </app-password-field>


    <app-password-field 
      label="New Password" 
      controlName="newPassword"
      [form]="passwordForm"
      >
    </app-password-field>

    <app-password-field 
      label="Confirm New Password" 
      controlName="confirmNewPassword"
      [form]="passwordForm"
      >
      
    </app-password-field>
    <div *ngIf="passwordForm.get('newPassword')?.value && passwordForm.get('confirmNewPassword')?.value">
      <div *ngIf="!isMatch()" class="text-red-500 text-sm mt-2">
        Passwords do not match
      </div>
      <div *ngIf="isMatch()" class="text-green-500 text-sm mt-2">
        Passwords match
      </div>
    </div>

    <fieldset class="py-2">
      <app-button-custom
        text="Change Password"
        (clickEvent)="onChangePassword()"
      ></app-button-custom>
    </fieldset>
  </form>
</div>
