<!DOCTYPE html>
<div class=" relative h-max lg:py-12 bg-cover bg-back" >

  <div class="relative z-10 flex flex-col items-center justify-center h-full text-text p-4">
    <form   [formGroup]="registerForm" class="w-full max-w-md bg-white border-4 border-secondary rounded-lg shadow-md p-8">
    <h2 class="text-2xl font-bold mb-6 text-center">{{title}}</h2>
    <app-form-field 
      label="Name" 
      type="text" 
      controlName="name"
      [form]="registerForm"
      >
    </app-form-field>

    <app-form-field 
      label="Lastname" 
      type="text" 
      controlName="lastname"
      [form]="registerForm"
      >
    </app-form-field>
    <div *ngIf="isCustomer">
      <app-form-field 
      label="E-mail" 
      type="email" 
      controlName="username"
      [form]="registerForm"
      >
      </app-form-field>
    </div>
    <div *ngIf="!isCustomer">
      <app-form-field 
      label="Username" 
      type="text" 
      controlName="username"
      [form]="registerForm"
      >
      </app-form-field>
    </div>
    
    
    <div *ngIf="!isCreateCollaborator">
      <app-password-field 
      label="Password" 
      controlName="password"
      [form]="registerForm"
      >
      </app-password-field>
    </div>
    
    <fieldset>
      <app-button-custom
        text="Register"
        (clickEvent)="onRegister()"
      ></app-button-custom>
    </fieldset>

    <fieldset *ngIf="isCustomer" >
      <app-login-with-google class="w-full py-2 mt-4 px-4 focus:outline-none focus:ring-2 focus:ring-offset-2 flex justify-center"></app-login-with-google>
    </fieldset>
    
    <div *ngIf="isCustomer" class="text-center mt-4 hover:cursor-pointer">
      <button routerLink="/login" class="text-primary hover:text-indigo-900">Already have an account? Click here!</button>
    </div>
  </form>
  
</div>
</div>