<!DOCTYPE html>
<div class="flex items-center justify-center p-4 m-4 mb-24">
  <div class="grid-cols-1 gap-4 space-y-4 w-full text-text max-w-lg p-6 bg-white border-4 border-secondary rounded-lg" >
    <h2 class="text-3xl font-bold mb-8 text-center text-text">Description</h2>
  <form [formGroup]="featuresForm" >
    
    
      <app-form-field 
        label="Title" 
        type="text"
        [maxlength] = "maxTitle" 
        controlName="title" 
        [form]="featuresForm">
      </app-form-field>
      <div class="text-right text-sm text-gray-500">
        {{ featuresForm.get('title')?.value?.length || 0 }}/{{ maxTitle }}
      </div>
      <div class="py-4"></div>

      <div *ngIf="featuresForm.get('description')?.touched && featuresForm.get('description')?.invalid" class="text-red-500 text-sm">
        <div *ngIf="featuresForm.get('description')?.errors?.['minlength']">Description cannot be less than {{ minDescription }} characters long.</div>
      </div>
      <app-form-field 
        label="Description" 
        type="textarea" 
        [minlength] = "minDescription"
        controlName="description" 
        [form]="featuresForm"
        [rows]="3">
      </app-form-field>
      

      <app-form-field 
        label="Price ($)" 
        type="number" 
        [form]="featuresForm"
        controlName="price" >
      </app-form-field>

      <hr class="border-t-2 border-gray-300 my-6">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <app-form-field 
        label="Size (sqm)" 
        type="number" 
        [form]="featuresForm"
        controlName="size" >
      </app-form-field>

      <app-form-field 
        label="Room Count" 
        type="number" 
        [form]="featuresForm"
        controlName="roomsNumber" >
      </app-form-field>

      <app-form-field 
        label="Floor Number" 
        type="number" 
        [form]="featuresForm"
        controlName="floorNumber" >
      </app-form-field>

      <app-form-field 
        label="Parking Spaces" 
        type="number" 
        [form]="featuresForm"
        controlName="parkingSpacesNumber" >
      </app-form-field>

      
    </div>

    <app-form-field 
        label="Condo fee" 
        type="number" 
        [form]="featuresForm"
        controlName="condoFee" >
    </app-form-field>

    <app-form-field 
      label="Energy Class" 
      type="select" 
      [form]="featuresForm"
      controlName="energyClass" 
      [options]="['Not specified','A', 'B', 'C', 'D', 'E', 'F', 'G']">
    </app-form-field>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

      <app-form-field 
        label="Furniture state" 
        type="select" 
        [form]="featuresForm"
        controlName="furnitureCondition" 
        [options]="[
          'Not specified',
          'Not fournished', 
          'Partially fournished', 
          'Well fournished'
          ]">
      </app-form-field>



      <app-form-field 
        label="House state" 
        type="select" 
        [form]="featuresForm"
        controlName="estateCondition" 
        [options]="[
          'Not specified',
          'Under construction', 
          'New',
          'To renovate', 
          'Habitable', 
          'Excellent'
          ]">
      </app-form-field>
      
    </div>
    <hr class="border-t border-gray-400 my-6">
    <div *ngFor="let field of dynamicFields">
      <app-form-field 
        [label]="field.label" 
        [type]="field.type" 
        [form]="featuresForm"
        [controlName]="field.formControlName">
      </app-form-field>
    </div>
  </form>
  <hr class="border-t border-gray-400 my-6">
  <app-upload-photos (imagesOut)="onPhotosChanged($event)" (fileOut)="onFileChanged($event)"></app-upload-photos>


</div>



</div>